# docker-compose.yml
services:
  gocd-server:
    build: .
    container_name: gocd-server
    restart: unless-stopped
    ports:
      - "8153:8153"
      - "8154:8154"
    env_file:
      - .env.docker 
    volumes:
      - gocd_data:/godata
      - gocd_home:/home/go

volumes:
  gocd_data:
  gocd_home: