# docker-compose.yml
services:
  gocd-server:
    build: .
    container_name: gocd-server
    restart: unless-stopped
    ports:
      - "8153:8153"
      - "8154:8154"
    env_file:
      - .env.docker 
    volumes:
      - gocd_data:/godata
      - gocd_home:/home/go

  gocd-agent:
    image: gocd/gocd-agent-alpine:v25.3.0
    container_name: gocd-agent
    restart: unless-stopped
    environment:
      - GO_SERVER_URL=https://gocd-server:8154/go
      - AGENT_AUTO_REGISTER_KEY=default
      - AGENT_AUTO_REGISTER_RESOURCES=docker,linux
      - AGENT_AUTO_REGISTER_HOSTNAME=agent-1
    depends_on:
      - gocd-server

volumes:
  gocd_data:
  gocd_home: